/* Fonts Import */
@font-face {
    font-family: 'PTSans Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PTSans-Bold.ttf') format('truetype');
}
    
    
@font-face {
    font-family: 'PTSans Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PTSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Renner';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Renner_700 Bold.ttf') format('truetype');
}
    
/* Custom CSS */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    font-size: 51px;
}
h2{
    font-size: 30px;
}
.theme-color{
    color: #1E9889;
}
.theme-bg{
    background-color: #1E9889;
}
.yellow{
    color: #FFDD00;
}
.font-sm{
    font-size: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:#878787;
}
.navbar-expand-lg .navbar-nav .nav-link.btn{
    color: #1E9889;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.navbar-expand-lg .navbar-nav .fa{
    font-size: 23px;
}
.btn {
    border-color: #1E9889;
    color: #1E9889;
    font-weight: bold;
    border-width: 2px;
}
.btn_lg{
    padding: 0.7rem 1.5rem;
}
.container {
    max-width: 1920px;
    width: 90%;
}
.bg_light{
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 50vh;
}
.bg_colorfull{
    background-image: url(../images/bg-img-colorfull.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 630px;
    background-size: cover;
}
.two{
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 90vh;
}
.two .col{
    background-image: url(../images/banner-bg-center.png);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 90vh;
    background-size: contain;
}
footer ul li a{
    color: #fff;
}
footer ul li .fa {
    width: 40px;
}
.subscribe #email{
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
}
.subscribe button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.subscribe button,.subscribe #email{
    height: 50px;
}
.subscribe #email::placeholder {
    color:#fff;
    opacity: 1; 
  }
  .subscribe #email:-ms-input-placeholder { 
    color: #fff;
  }
  .subscribe #email::-ms-input-placeholder { 
    color: #fff;
}
.login .form-control {
    border-radius: 50px;
    font-size: 12px;
}
.border-radius-0{
    border-radius: 0!important;
}
#opt .opt {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #939393;
    max-width: 55px;
    font-size: 1.7rem;
    color:#939393;
}
.grey-color{
    color:#939393 !important;
}
.navbar-expand-lg .navbar-nav .nav-item:nth-last-child(-n+5) {

 }
.product p{
    line-height: 1.1;
}
.product .form-control, .product .btn{
    font-size: 12px;
}
.product .btn:hover{
    color: #1E9889;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(../images/Dropdown@2x.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 53%;
    background-size: 10px;
}

.product-count a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.button-count {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 0.5 !important;
    background-color: #1e9889;
    color: white;
    font-size: 19px;
    text-align: center;
    border: none;
    outline: none;
    padding: 0;
    text-align: center;
}

.number-product {
    display: inline-block;
    width: 25px;
    height: 28px;
    font-size: 15px;
    border: 0;
    text-align: right;
    background-color: transparent;
}

:disabled {
    background-color: silver;
}
button:focus ,.number-product:focus{
    outline: none;
}
.product-count{
    border: 1px solid #ddd;
    padding: 1px 3px;
}
.number-product, .product-count small {
    position: relative;
    top: -2px;
    left: -4px;
}
.product img{
    height: auto;
    max-width: 75%;
}
.chain{
    border:2px solid #fff;
    border-radius: 10px;
    min-width: 750px;
}
.chain_first{
    min-width: 750px;
}
.chain_second{
    min-width: 900px;
}
.chain_first img{
    height: 45px;
}
.chain_second img {
    height: 40px;
}
.steps img {
    height: 50px;
}
.bg_colorfull hr{
    border-color: #fff;
}
.steps >p {
    min-width: 176px;
}
.search-box button.search{
    border-radius: 0;
    border-right: 0;
}
.search-box button.cross{
    border-radius: 0 50px 50px 0;
}
body .search-box input{
    min-width: 50vw;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0!important;
    font-size: inherit !important;
}
.btn:not(.theme-bg):not(select):hover{
    color: #fff !important;
    background-color: #1E9889;
}
.btn.theme-bg:hover{
    color: #1E9889 !important;
    background-color: #fff;
}
.dnone{
    display: none;
}
.cart{
    position: relative;
}
.cart small{
    position: absolute;
    top: 0;
    right: -5px;
    background-color: #1E9889;
    color: #fff;
    border-radius: 100%;
    padding: 2px 3px;
    min-width: 18px;
    text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #1E9889;
}

/* Responsive CSS */

@media (max-width: 1500px){
    footer ul li .fa {
        width: 27px;
    }
    .navbar-brand img{
        width: 170px;
    }
    .bg_light{
        background-size: contain;
    }
    body{
        font-size: 16px;
    }
    .font-sm{
        font-size: 12px;
    }
    h1{
        font-size: 37px;
    }
    h2{
        font-size: 23px;
    }
    .h3, h3 {
        font-size: 1.1rem;
    }
    .h4, h4 {
        font-size: 1rem;
    }
}
@media (max-width: 1200px){
    .navbar-brand img{
        width: 130px;
    }
    .product form p {
        font-size: 14px;
    }
    body {
        font-size: 14px;
    }
    .chain_first{
        width: 80%;
        min-width: auto;
    }
    .chain_second{
        min-width: auto;
        width: 90%;
    }
    .chain_first img{
        height: 35px;
    }
    .chain_second img {
        height: 30px;
    }
    .steps img {
        height: 40px;
    }
    .steps >p {
        min-width: 50px;
    }
}
@media (max-width: 980px){
    .chain_first{
        width: 95%;
        min-width: auto;
    }
    .chain_second{
        min-width: auto;
        width: 100%;
    }

}
@media (max-width: 991px){
    .hideRes{
        display: none !important
    }
    .two .col, .two{
        min-height: 65vh;
    }
    .cart small{
        right: -9px;
        top: -2px;
    }
}
@media (max-width: 768px){
    #opt .d-flex > .opt:not(:last-child) {
        margin-right: 10px !important;
    }
    #opt .d-flex > .opt {
        max-width: 30px;
        font-size: 1rem;
    }
    .h3, h3 {
        font-size: 1rem;
    }
    .h4, h4 {
        font-size: 0.8rem;
    }
    .font-sm {
        font-size: 10px;
    }
    footer.pt-5{
        padding-top: 0 !important;
    }
    .product img{
        max-width: 80%;
    }
    .chain_first img{
        height: 30px;
    }
    .chain_second img {
        height: 25px;
    }
    .steps img {
        height: 32px;
    }
    .steps {
        flex-wrap: wrap;
        justify-content: center!important;
    }
    .steps p{
        margin-bottom: 20px !important;
        margin-right: 20px !important;
        max-width: 150px;
    }
}

@media (max-width: 576px){
    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .chain{
        flex-wrap: wrap;
        justify-content: center!important;
    }
    .chain h4{
        min-width: 250px;
        text-align:center;
        margin-bottom: 20px !important;
    }
    .chain p{
        margin-bottom: 20px !important;
    }
}
